
<!--ALL POST-->
	<main *ngFor="let post of posts; let i = index" class="h-auto w-full bg-gray-50  flex items-center justify-center">
		<div class="border max-w-screen-md bg-white-chalk  text-gray-800 border-gray-300 mt-6 rounded-xl h-auto mx-auto shadow-lg p-4">
			<div class="flex items-center	justify-between">
				<div class="gap-3.5	flex items-center ">
					<img src="https://avatars.githubusercontent.com/u/67946056?v=4" class="object-cover  rounded-full w-11 h-11" />
					<div class="flex flex-col">
						<b class="mb-1 capitalize">ajo alex</b>
						<time class="text-gray-400 text-xs">{{ post.createdAt | date:'full' }}</time>
					</div>
				</div>
				<div class="bg-gray-100	rounded-full h-3.5 flex	items-center justify-center">
					<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="34px" fill="#92929D">
						<path d="M0 0h24v24H0V0z" fill="none" />
						<path
							d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" />
					</svg>
				</div>
			</div>
				<!-- Post Content -->
				<div class="whitespace-pre-wrap mt-6">{{ post.content }}</div>
				<!-- Post Media -->
				<div class="mt-4 flex gap-2 justify-center border-b pb-4 flex-wrap">
				<!-- Loop through post media, up to a maximum of 3 images -->
				<ng-container *ngFor="let media of post.media; let j = index">
					<!-- Only display the first 3 images -->
					<ng-container *ngIf="j < 3">
					<img
						[src]="media.file"
						class="rounded-2xl w-1/3 object-scale-down h-80 flex-auto"
						alt="photo"
					/>
					</ng-container>
					<!-- If there are more than 3 images, display the '+' and the count -->
					<ng-container *ngIf="j === 3 && post.media.length > 3">
					<div class="cdk-overlay-container rounded-2xl w-1/4 object-cover h-80 flex-auto">
						<div class="flex justify-center items-center h-full">
						<div class="text-white font-semibold text-4xl">+{{ post.media.length - 3 }}</div>
						</div>
					</div>
					</ng-container>
				</ng-container>
				<!-- If there are no media files, display "No Media" -->
				<ng-container *ngIf="post.media.length === 0">
					<div class="text-gray-400"></div>
				</ng-container>
				</div>

				<div class=" h-16 border-b  flex items-center justify-around">
					<div class="flex items-center gap-3">
						  <svg *ngIf="isLiked[i]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  fill="red" (click)="likePost(post.id)" class="w-6 h-6 cursor-pointer">
							<path d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z" />
						  </svg>
						  <svg *ngIf="!isLiked[i]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  fill="none" stroke="#92929d" stroke-width="2px" (click)="likePost(post.id)" class="w-6 h-6 cursor-pointer">
							<path d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z" />
						  </svg>
						<div class="text-sm">3 Likes</div>
					  </div>
					<div class="flex items-center	gap-3	">
						<img src="assets/images/icon-comment.png" alt="">
						<div class="text-sm	">10 Comments</div>
					</div>
					
					<div class="flex items-center	gap-3">
						<img src="assets/images/icon-share.png" alt="">
						<div class="text-sm">Share</div>
					</div>
				</div>
				<div class="flex items-center justify-between mt-4">
					<img src="https://images.unsplash.com/photo-1595152452543-e5fc28ebc2b8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"  class="bg-yellow-500 rounded-full w-10 h-10 object-cover border">
					<div class="flex items-center	justify-between	 bg-gray-50 h-11 w-11/12 border rounded-2xl	 overflow-hidden px-4 ">
						<input type="text" class="h-full w-full bg-gray-50 outline-none " placeholder="Write your comment..." name="comment">
					</div>
				</div>
		</div>
	</main>
<!--END ALL POST-->

  