<app-main-navbar></app-main-navbar>

<div class="bg-gray-200 font-rale flex ">

<!--LEFT SIDEBAR AREA-->
<div class="left-sidebar-area w-56 h-full mt-[150px] ">
<!--MY PROFILE-->
<div class="  h-screen flex justify-start items-start mt-5 pl-4 mb-3">
    <div class="card w-52 bg-white-chalk shadow-xl rounded-lg hover:shadow">
       <img class="w-28 mx-auto rounded-full -mt-20 border-8 border-white" src="https://avatars.githubusercontent.com/u/67946056?v=4" alt="">
       <div class="text-center mt-0.5 text-2xl font-semibold font-rale ">Ajo Alex</div>
       <div class="text-center mt-0.5 font-light text-sm">@devpenzil</div>
       <hr class="mt-6">
       <div class="flex p-2">
         <div class="w-1/2 text-center text-sm">
           <span class="font-bold">1.8 k <br></span> Followers
         </div>
         <div class="w-0 border border-gray-300">
           
         </div>
         <div class="w-1/2 text-center text-sm">
           <span class="font-bold">2.0 k <br></span> Following
         </div>
       </div>
    </div>
  </div>                           
<!--MY PROFILE-->
<!--EVENTS-->
<div class=" -mt-96 pl-4 z-0">
    <div class="relative flex w-52 flex-col rounded-xl bg-white bg-clip-border text-gray-800 shadow-md ">
        <div class="relative mx-4 mt-5 h-16 overflow-hidden rounded-xl bg-gray-500 bg-clip-border text-white shadow-lg shadow-gray-500/40">
          <img
            src="https://images.unsplash.com/photo-1540553016722-983e48a2cd10?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=80"
            alt="img-blur-shadow"
            layout="fill"/>
        </div>
        <div class="p-5 pb-0 font-sans text-xs">
          <h5 class="mb-1 block text-lg font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
            Event</h5>
          <p class="block font-light leading-relaxed text-inherit antialiased">Wednesday 10am</p>
        </div>
        <div class="p-4 pb-2 pt-0 flex justify-end  ">
          <button
            class="select-none w-18 h-9 rounded-lg bg-green py-3 px-3 text-center align-middle  text-xs font-bold uppercase text-white shadow-md shadow-green-light/10 transition-all hover:shadow-lg hover:shadow-green-light/50 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button"
            data-ripple-light="true">Apply</button>
        </div>
        <hr class="h-px mx-6 my-4 bg-gray-300 border-0 dark:bg-gray-500">
        <div class="relative mx-4 mt-2 h-16 overflow-hidden rounded-xl bg-gray-500 bg-clip-border text-white shadow-lg shadow-blue-gray-500/40">
            <img
              src="https://images.unsplash.com/photo-1540553016722-983e48a2cd10?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=80"
              alt="img-blur-shadow"
              layout="fill"/>
          </div>
          <div class="p-5 pb-0 font-sans text-xs">
            <h5 class="mb-1 block text-xs font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
             Event
          </h5>
            <p class="block font-light leading-relaxed text-inherit antialiased">Wednesday 10am</p>
          </div>
          <div class="p-4 pt-0 flex justify-end  ">
            <button
              class="select-none w-18 h-9 rounded-lg bg-green py-3 px-3 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-green-light/10 transition-all hover:shadow-lg hover:shadow-green-light/50 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              type="button"
              data-ripple-light="true">Apply</button>
          </div>
      </div>
    </div>
<!--END EVENTS-->    
</div>
<!--END LEFT SIDEBAR AREA-->

<!--NEW FEED AREA-->
<div class="p-4 mt-24 flex justify-center items-center w-[813px] flex-col  ">

    <!--CREATE POST-->
    <div class="mb-6 mx-auto w-full flex flex-col text-gray-800 border border-gray-300 p-4 rounded-xl -ml- shadow-lg max-w-2xl">
    <textarea class="description bg-gray-100 sec p-3 h-32 border border-gray-300 outline-none" spellcheck="false" placeholder="Describe everything about this post here"></textarea>
    
    <!-- icons -->
    <div class="icons flex text-gray-500 mt-2 ">
      <svg class="mr-2 cursor-pointer hover:text-gray-700 border rounded-full p-1 h-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" /><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" /></svg>
      <svg class="mr-2 cursor-pointer hover:text-gray-700 border rounded-full p-1 h-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13" /></svg>
    </div>
    <!-- buttons -->
    <div class="buttons flex justify-end">
        <div class="btn border px-3 font-semibold cursor-pointer rounded-lg bg-green py-2  text-center align-middle text-sm uppercase text-white shadow-md shadow-green-light/10 transition-all hover:shadow-lg hover:shadow-green-light/50 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">Post</div>
    </div>
    </div>   
    <!--END CREATE POST-->

    <!--ALL POST-->
    <div class=" w-full flex justify-center ">
        <div class="mx-14 bg-white rounded-xl overflow-hidden cursor-pointer shadow-lg ">
            <div class="p-4">
                <img class="rounded-xl" src="https://images.unsplash.com/photo-1599839575945-a9e5af0c3fa5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1049&q=80" alt="Dog" />
            </div>
            <div class="flex justify-between p-6">
                <div class="flex items-center space-x-4">
                    <img class="h-10 rounded-full" src="https://images.unsplash.com/photo-1583512603805-3cc6b41f3edb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=80" alt="" />
                    <h1 class="text-lg text-gray-900 font-bold">Felipe Sacudon</h1>
                </div>
                <div class="flex space-x-6 items-center">
                    <div class="flex space-x-2 items-center">
                        <span><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z" /></svg>
                        </span>
                        <span class="text-gray-700 font-semibold">20</span>
                    </div>
                    <div class="flex space-x-2 items-center pr-4">
                        <span><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-600 hover:text-red-500" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" /></svg>
                        </span>
                        <span class="text-gray-700 font-semibold">22</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END ALL POST-->
</div>
<!--END NEW FEED AREA-->

<!-- RIGHT SIDEBAR AREA -->
  <div class="right-sidebar-area text-gray-800 shadow-md rounded-lg inline-block " data-simplebar>
    <div class="recent-chat-box font-rale font-semibold ">
        <div class="title">
            <h3>Recent Chat</h3>
        </div>

        <div class="contact-search-box">
            <form>
                <input type="text" class="input-search" placeholder="Search">
                <button type="submit"><i class="ri-search-line"></i></button>
            </form>
        </div>
        
        <div class="chat-body" data-simplebar>
            <div class="chat-item">
                <a href="#"><img src="assets/images/users-img.jpg" class="rounded-circle rounded-2xl" alt="image"></a>
                <span class="name"><a href="#">Stephan Redding</a></span>
                <span class="status-online"></span>
            </div>
            <div class="chat-item">
                <a href="#"><img src="assets/images/users-img.jpg" class="rounded-circle rounded-2xl" alt="image"></a>
                <span class="name"><a href="#">Maria Smith</a></span>
                <span class="status-offline"></span>
            </div>
            <div class="chat-item">
                <a href="#"><img src="assets/images/users-img.jpg" class="rounded-circle rounded-2xl" alt="image"></a>
                <span class="name"><a href="#">Paul Enlow</a></span>
                <span class="status-online"></span>
            </div>
            <div class="chat-item">
                <a href="#"><img src="assets/images/users-img.jpg" class="rounded-circle rounded-2xl" alt="image"></a>
                <span class="name"><a href="#">Stephan Redding</a></span>
                <span class="status-offline"></span>
            </div>
            <div class="chat-item">
                <a href="#"><img src="assets/images/users-img.jpg" class="rounded-circle rounded-2xl" alt="image"></a>
                <span class="name"><a href="#">Maria Smith</a></span>
                <span class="status-online"></span>
            </div>
            <div class="chat-item">
                <a href="#"><img src="assets/images/users-img.jpg" class="rounded-circle rounded-2xl" alt="image"></a>
                <span class="name"><a href="#">Paul Enlow</a></span>
                <span class="status-offline"></span>
            </div>
        </div>
    </div>
<!-- END RIGHT SIDEBAR AREA -->
</div>
</div>