/*right side area*/
.right-sidebar-area {
    position: fixed;
    right: 0;
    top: 5.30rem;
    height: 100%;
    width: 225px;
    z-index: 1;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    -webkit-box-shadow: 10 8px 10px 0 rgba(183, 192, 206, 0.1);
            box-shadow: 10 8px 10px 0 rgba(183, 192, 206, 0.1);
    background: #FBFFFF;
    padding: 15px;
    max-height: calc(100% - 80px);
  }
  
  .right-sidebar-area .recent-chat-box .title {
    margin-bottom: 20px;
  }
  
  .right-sidebar-area .recent-chat-box .title h3 {
    font-size: var(--font-size);
    margin-bottom: 0;
  }
  
  .right-sidebar-area .recent-chat-box .chat-body {
    max-height: 190px;
  }
  
  .right-sidebar-area .recent-chat-box .chat-body .chat-item {
    position: relative;
    margin-bottom: 20px;
  }
  
  .right-sidebar-area .recent-chat-box .chat-body .chat-item:last-child {
    margin-bottom: 0;
  }
  
  .right-sidebar-area .recent-chat-box .chat-body .chat-item img {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 5px;
  }
  
  .right-sidebar-area .recent-chat-box .chat-body .chat-item .name {
    font-size: 14px;
    font-weight: 600;
  }
  
  .right-sidebar-area .recent-chat-box .chat-body .chat-item .status-online {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 30px;
    top: 1px;
    background-color: #1DD217;
    border: 1px solid var(--white-color);
  }
  
  .right-sidebar-area .recent-chat-box .chat-body .chat-item .status-offline {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 30px;
    top: 1px;
    background-color: #b0bacb;
    border: 1px solid var(--white-color);
  }
  
  .right-sidebar-area .recent-contact-box {
    margin-top: 25px;
  }
  
  .right-sidebar-area .recent-contact-box .title {
    margin-bottom: 15px;
  }
  
  .right-sidebar-area .recent-contact-box .title h3 {
    font-size: var(--font-size);
    margin-bottom: 0;
  }
  
  .right-sidebar-area .recent-chat-box .contact-search-box {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .right-sidebar-area .recent-chat-box .contact-search-box .input-search {
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #F4F7FC;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    color: var(--paragraph-color);
    font-size: 14px;
    font-weight: 400;
    padding: 0 0 0 15px;
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: 0;
  }
  
  .right-sidebar-area .recent-chat-box .contact-search-box .input-search::-webkit-input-placeholder {
    color: var(--paragraph-color);
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  
  .right-sidebar-area .recent-chat-box .contact-search-box .input-search:-ms-input-placeholder {
    color: var(--paragraph-color);
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  
  .right-sidebar-area .recent-chat-box .contact-search-box .input-search::-ms-input-placeholder {
    color: var(--paragraph-color);
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  
  .right-sidebar-area .recent-chat-box .contact-search-box .input-search::placeholder {
    color: var(--paragraph-color);
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  
  .right-sidebar-area .recent-chat-box .contact-search-box .input-search:focus::-webkit-input-placeholder {
    color: transparent;
  }
  
  .right-sidebar-area .recent-chat-box .contact-search-box .input-search:focus:-ms-input-placeholder {
    color: transparent;
  }
  
  .right-sidebar-area .recent-chat-box .contact-search-box .input-search:focus::-ms-input-placeholder {
    color: transparent;
  }
  
  .right-sidebar-area .recent-chat-box .contact-search-box .input-search:focus::placeholder {
    color: transparent;
  }
  
  .right-sidebar-area .recent-chat-box .contact-search-box button {
    position: absolute;
    right: 0;
    top: 2px;
    height: 40px;
    background-color: transparent;
    border: none;
    color: var(--paragraph-color);
    border-radius: 5px;
    font-size: 18px;
    padding: 0 15px;
  }
/* end right side area*/

